body {
    background: black;
}

@font-face {
    font-family: "Bit 5x3";
    src: url(fonts/bit5x3.woff)
}

.scorebox {
    color: white;
    font-family: 'Bit 5x3';
    font-size: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

#unsupported {
    color: white;
    font-family: 'Bit 5x3';
    font-size: 2rem;
}